div{
    background-color:#0f1111;
    height:60px;
    border :solid white 3px ;
    border-radius:6px;
}
#amazon{
    font-size:25px;
    color:#f08804;
}
a{
    color:white;
    margin-right:150px;
}
button{
    background-color:#f08804;
    color:white;
}
#footer{
    background-color:#0f1111;
    height:40px;
}
footer{
    text-align:center;
    color:white;
}
#contentbox1{
   height:100px;
   width:100px;
   color:cornsilk;
   border:solid black 3px;
   display:inline-block;
   background-color:rgba(255,0,0,0.5);
}
#contentbox2{
   height:100px;
   width:100px;
   color:cornsilk;
   border:solid black 3px;
   display:inline-block;
   background-color:rgba(0,0,255,0.5);
}
#contentbox3{
   height:100px;
   width:100px;
   color:cornsilk;
   border:solid black 3px;
   display:inline-block;
   background-color:rgba(0,255,0,0.5);
}
body{
    height:475px;
}